<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--是否允许admin 设计xml配置-->
    <add key="AdminDegion" value="1"/>
    <!--CurrentDBType当前数据类型 支持Sql2005、Oracle、OleDb、Odbc、OdbcDb2、OdbcInformix、Sql2000
        Sql2005和Sql2000需配置SqlConnectionString的值
        OleDb需配置OleDbConnectionString的值
        OleDb、Odbc、OdbcDb2、OdbcInformix需配置OdbcConnectionString的值
        Oracle需配置OracleConnectionString的值
        Data Source=.\SQLEXPRESS;Initial Catalog=dbbdcy;Integrated Security=SSPI;
    -->
    <add key="CurrentDBType" value="Sql2005"/>
    <add key="SqlConnectionString" value="Data Source=166.111.7.152;Initial Catalog=dbtest;uid=sa;pwd=kxmsql8!"/>
    <!--myxmlpath xml配置文件所在目录-->

    <add key="myxmlpath" value="C:\Users\Administrator\Desktop\kexiaomi\Web\Xml"/>
    <add key="filepath" value="C:\Users\Administrator\Desktop\kexiaomi\Web\file"/>
    <!--
    <add key="myxmlpath" value="E:\工作\信息检索系统\easyTechn\Xml"/>
    <add key="filepath" value="E:\工作\信息检索系统\easyTechn\file"/>
    -->
    <!--分析图片 参数设置-->
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=D:\EasyTech\code\file\Temp;"/>
    <!--AuthenticateType登录认证方式 支持Domain、Xml、Db、Url四种
      Domain域认证 需要配置ADDomain域 ADPath域LDAP DomainName域名
      Xml xml认证 是按照myxmlpath\data\userinfo的信息认证
      Db 数据库认证 需要配置sql 即认证的语句
      Url 第三方Url认证 需要配置url 提供认证的url method提交方法POST或GET parameters提供参数 如id={0},pwd={1} 其中的id和pwd根据第三方Url的参数确定
    -->
    <add key="AuthenticateType" value="Db"/>
    <add key="ADDomain" value="DC=SYQUEYRY,DC=COM,DC=CN"/>
    <add key="ADPath" value="LDAP://SYQUEYRY.COM.CN"/>
    <add key="DomainName" value="SYQUEYRY"/>
    <add key="sql" value="select name,DepId,iflag from s_user where id={0} and pwd={1}"/>
    <!--系统操作语句日志，作用将所有操作数据的SQL记录 是否启用 0不启用（建议不启用） 1启用-->
    <add key="IsSysLog" value="0"/>
    <!--默认列表分页行数 -->
    <add key="PageSize" value="12"/>
    <!--编辑器外网资源是否自动保存到服务器 默认1保存 0不处理 -->
    <add key="IsEditorDown" value="0"/>

    <!-- 生成静态网页 （0部署在同一机器上 1部署在不同机器上）-->
    <add key="GenerateStaticHtml_Wz" value="0"/>
    <!--同一栏目可置顶的文档数量-->
    <add key="TopAmount" value="1"/>
  </appSettings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpSoap"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx"/>
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="MyQuery.Utils" assembly="MyQuery.Utils"/>
        <add tagPrefix="sy" namespace="MyQuery.MyControl" assembly="MyQuery.MyControl"/>
        <add tagPrefix="wf" namespace="MyQuery.WFWork" assembly="MyQuery.WFWork"/>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="CKEditor" namespace="CKEditor.NET" assembly="CKEditor.NET"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,POST,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <!--上传文件限制(单位KB)-->
    <httpRuntime maxRequestLength="10240" executionTimeout="900" requestValidationMode="2.0"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="zh-CN" culture="zh-CN" fileEncoding="utf-8"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="30"/>

    <identity impersonate="true"/>
    <!--identity impersonate="true" userName="Administrator" password="kxmsql8!"/-->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,POST,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
        <defaultDocument>
            <files>
                <add value="Login.aspx"/>
            </files>
        </defaultDocument>
  </system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.DataVisualization" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
